<div id="home">
  <h3><%= @msg %></h3>
  <Hello message="Admin Home"></Hello>
  <!-- <Modal1></Modal1> -->
</div>



<% content_for :javascript do %>
<%= javascript_pack_tag 'admin/home' %>

<% end %>